:root {
    --main-bg-color: #9d0300;
    --main-text-color: #172620;
    --second-text-color: #d86010;
    --second-bg-color: #efd3c1;
  }

  .sidebar-heading {
    color: #9d0300!important; 
}

  .list-group-item.active.second-text {
    color: #d86010; 
}

  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }

  h2.fs-2.m-0 {
    color: #fff!important; 
  }

  #menu-toggle {
    color: #fff;
  }

  h3.fs-4.mb-3{
    color:#fff;
  }

  label[for="show_type"],
label[for="category"] {
  color: #fff; /* Set the desired color */
}

ul.dropdown-menu {
  right: 0;
  left: auto;
}
  
  #wrapper {
    overflow-x: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(31,28,28,1) 50%, rgba(41,42,46,1) 100%); 
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

  /* Buttons */

  .apply-filter-button {
    background-color: #9d0300!important;
    color: #fff !important;
    padding: 0; 
    transition: all 0.3s ease;
  }
  
.apply-filter-button:hover {
  background-color: var(--second-text-color)!important;
  border-color: var(--second-text-color)!important;
}

.add-movie-button,
.add-show-button {
  background-color: var(--second-text-color)!important;
  color: #fff!important;
  padding: 0; 
  transition: all 0.3s ease;
}

.add-movie-button:hover,
.add-show-button:hover {
  background-color: var(--main-bg-color)!important;
  border-color: var(--main-bg-color)!important;
  color: #fff;
}

.apply-filter-button,
.add-movie-button,
.add-show-button {
  white-space: normal;
}

.edit-link {
  color: blue!important; 
}

.delete-link {
  color: red!important; 
}


  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  /* Modals Edit Movie and Tv Shows */

  .modal-content {
    text-align: center;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-body input[type="text"],
  .modal-body input[type="number"],
  .modal-body textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box; 
  }
  
  .modal-body label {
    text-align: left; 
  }
  
  .modal-footer {
    justify-content: center;
  }
  
  .modal-footer button {
    margin: 0 8px;
    background-color: #d86010;
    border: none;
  }
  
  
  